{% extends 'base.html.twig' %}

{% block title %}Музыкальные характеристики{% endblock %}

{% block body %}
    <form method="post" enctype="multipart/form-data" name="uploader" action="{{ path('upload') }}"
          class="form-music">
        <div class="file-input">
            <input type="file" name="audio[]" multiple accept=".wav" class="file" id="file" required>
            <label for="file">Выберите файл</label>
        </div>
        <div class="genre-input">
            <label>Название жанра:
                <input type="text" name="genre" required>
            </label>
        </div>
        <input type="submit" name="submit" value="Загрузить" class="upload">
    </form>

    <form method="get" enctype="multipart/form-data" name="search" action="{{ path('music_metrics') }}"
          class="form-music">
        <div class="genre-input">
            <label>Поиск по жанру:
                <select name="genre" required>
                    {% for genre in genres %}
                        <option name="{{ genre.genre }}" value="{{ genre.genre }}">{{ genre.genre }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <input type="submit" name="submit" value="Найти" class="upload">
    </form>

    <table border="2">
        <thead>
        <tr>
            <th>№</th>
            <th>Минимальная чатстота</th>
            <th>Максимальная частота</th>
            <th>Средняя частота</th>
            <th>Минимальная амплитуда</th>
            <th>Максимальная амплитуда</th>
            <th>Средняя амплитуда</th>
            <th>Ритм</th>
            <th>Темп</th>
            <th>Характеристики звука инструментов</th>
            <th>Музыкальная форма</th>
            <th>Спектральный центроид</th>
            <th>Спектральный спад</th>
            <th>Спектральная ширина</th>
            <th>Жанр</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.minFreq }}</td>
                <td>{{ record.maxFreq }}</td>
                <td>{{ record.avgFreq }}</td>
                <td>{{ record.minAmp }}</td>
                <td>{{ record.maxAmp }}</td>
                <td>{{ record.avgAmp }}</td>
                <td>{{ record.rhythm }}</td>
                <td>{{ record.rate }}</td>
                <td>
                    {% if record.instrumentsSoundsCharacter is iterable %}
                        {% for key, value in record.instrumentsSoundsCharacter %}
                            "{{ key }}" : {{ value }}
                        {% endfor %}
                    {% else %}
                        {{ record.instrumentsSoundsCharacter }}
                    {% endif %}
                </td>
                <td>{{ record.musicForm }}</td>
                <td>{{ record.spectralCentroid }}</td>
                <td>{{ record.spectralRollOf }}</td>
                <td>{{ record.spectralBandWidth }}</td>
                <td>{{ record.genre }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('show_main_page') }}" class="double-border-button">Назад</a>
{% endblock %}
